#divEmprendedores1
{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#divEmprendedores2
{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#Emprendedores
{
    text-align: justify;
    padding-left: 100px;
    
}

#footer
{
    background-color: blue;
    color: white;
    padding: 40px;
    border: 60px;
}

#informacion
{
    background-color: gold;
    color: blue;
    border-style: solid;
}

